/* HALO {{ protocol }} baremetal implementation */
#include "{{ protocol }}_common.h"

/* Baremetal platform: no interrupts or OS features
   - Uses simple polling with notify hook
   - Can override notify hook for custom signaling
 */



