/* HALO {{ protocol }} platform-specific header */
#ifndef HALO_{{ protocol|upper }}_{{ environment|upper }}_H
#define HALO_{{ protocol|upper }}_{{ environment|upper }}_H

#include "{{ protocol }}_common.h"

/* Platform-specific definitions for {{ environment }} */
/* Override or extend common protocol structures here */

#endif /* HALO_{{ protocol|upper }}_{{ environment|upper }}_H */
