/* Generic implementation for the {{ protocol }} protocol on {{ environment }} */
#include "{{ protocol }}_{{ environment }}.h"

{% for channel in protocol_channels %}
/* {{ channel.name }}: {{ channel.from_component }} -> {{ channel.to_component }} via {{ channel.interface }} */
{% endfor %}

/* Platform-specific synchronization initialization hook (called by common _init) */
__attribute__((weak))
void {{ protocol }}_init_sync(const {{ protocol }}_channel_t *chan) {
    (void)chan;
    /* Default: no-op - FreeRTOS uses semaphores in read/write */
}

