// Generated shared-memory transport interface - BareMetal Platform
#ifndef SHAREDMEMORY_BAREMETAL_H
#define SHAREDMEMORY_BAREMETAL_H

#include "halo_types.h"
{% include "sharedmemory_common.h.j2" %}

#endif /* SHAREDMEMORY_BAREMETAL_H */

