// Generated shared-memory transport interface - FreeRTOS Platform
#ifndef SHAREDMEMORY_FREERTOS_H
#define SHAREDMEMORY_FREERTOS_H

#include "halo_types.h"

/* Platform-specific includes for FreeRTOS can be added here */
/* #include "FreeRTOS.h" */
/* #include "semphr.h" */

/* Include common shared memory definitions */
{% include "sharedmemory_common.h.j2" %}

#endif /* SHAREDMEMORY_FREERTOS_H */

