// Generated shared-memory transport interface - Linux Platform
#ifndef SHAREDMEMORY_LINUX_H
#define SHAREDMEMORY_LINUX_H

#include "halo_types.h"

/* Platform-specific includes for Linux can be added here */
/* #include <pthread.h> */
/* #include <sys/mman.h> */

/* Include common shared memory definitions */
{% include "sharedmemory_common.h.j2" %}

#endif /* SHAREDMEMORY_LINUX_H */


