/ {
	chosen {
		/*
		 * Align the Zephyr image with the custom Hart 0 UART loader used
		 * in the QEMU multihart flow. Hart 0 copies app1.bin to 0x80240000
		 * and starts hart 1 from that address.
		 */
		zephyr,sram = &hart1_app_ram;
	};
};

hart1_app_ram: memory@80240000 {
	device_type = "memory";
	reg = <0x80240000 0x00040000>;
};

&mtimer {
	status = "okay";
	interrupts-extended = <&cpu1_intc 7>;
};

&clint {
	interrupts-extended = <&cpu1_intc 3 &cpu1_intc 7>;
};

&plic {
	interrupts-extended = <&cpu1_intc 11>;
};